html,body{
    background-color: #f8f8f8;
}
/* 顶部 */
.change_header{
    width: 7.5rem;
    height: 6.44vh;
    line-height: 6.44vh;
    text-align: center;
    font-family: "Simhei";
    color: #060101;
    font-size: 0.38rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #f8f8f8;
}
.change_header a{
    width: 0.55rem;
    height: 4.122vh;
    position: absolute;
    left: 0.25rem;
    top: 1.159vh;
}
.change_header img{
    width: 0.55rem;
    height: 4.122vh;
    position: absolute;
    left: -0.01rem;
    top: 0;
}
/* 内容 */
.old_password{
    width: 7.01rem;
    height: 6.6vh;
    line-height: 6.6vh;
    background-color: #fff;
    border-bottom: 0.01rem solid #eee;
}
.new_password{
    width: 7.01rem;
    height: 6.6vh;
    line-height: 6.6vh;
    background-color: #fff;
}
.password_con{
    width: 7.01rem;
    box-shadow: 0.01rem 0.01rem 0.05rem #f1f1f1;
    margin: auto;
}
.left_img{
    width: 0.5rem;
    height: 6.6vh;
    text-align:center;
    float: left;
}
.left_img img{
    width: 0.31rem;
    height: 2.92vh;
}
.old_password input{
    width: 5.56rem;
    height: 6vh;
    font-family: "Simhei";
    font-size: 0.24rem;
    color: #999;
    padding-left: 0.1rem;
    border: 0;
}
.new_password input{
    width: 5.56rem;
    height: 6vh;
    font-family: "Simhei";
    font-size: 0.24rem;
    color: #999;
    padding-left: 0.1rem;
    border: 0;
}

/* 提交 */
.submit{
    width: 5.81rem;
    height: 6.5vh;
    line-height: 6.5vh;
    background-color: #57c340;
    color: #fff;
    font-family: "Simhei";
    font-size: 0.38rem;
    text-align: center;
    border-radius: 0.5rem;
    margin: auto;
    box-shadow: 0.01rem 0.01rem 0.3rem #57c340;
    margin-top: 5.7vh;
}
.right_img{
    float: right;
    padding-right: 0.2rem;
}
.right_img img:nth-child(1){
    width: 0.45rem;
    height: 1.5vh;
}
.right_img img:nth-child(2){
    width: 0.4rem;
    height: 0.9vh;
}
.none{
    display: none;
}