html,body{
    background-color: #f8f8f8;
}
/* 顶部 */
.forget_header{
    width: 7.5rem;
    height: 6.44vh;
    line-height: 6.44vh;
    text-align: center;
    font-family: "Simhei";
    color: #060101;
    font-size: 0.38rem;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #f8f8f8;
}
.forget_header a{
    width: 0.55rem;
    height: 4.122vh;
    position: absolute;
    left: 0.25rem;
    top: 1.159vh;
}
.forget_header img{
    width: 0.55rem;
    height: 4.122vh;
    position: absolute;
    left: -0.01rem;
    top: 0;
}
/* 内容 */
.forget_con{
    width: 7.04rem;
    margin: auto;
    box-shadow: 0.01rem 0.01rem 0.4rem #f1f1f1;
    border-radius: 0.08rem;
}

/* 手机号 */
.phone{
    height: 6.3vh;
    line-height: 6.3vh;
    width: 7.04rem;
    border-bottom: 0.075vh solid #ddd;
    background-color: #fff;
}
.img_left{
    width: 0.64rem;
    height: 6.3vh;
    line-height: 6.3v;
    float: left;
}
.phone img{
    width: 0.3rem;
    height: 2.9vh;
    padding: 0  0.16rem;
    border-right: 0.01rem solid #999;
}
.phone input{
    float: left;
    width: 4.76rem;
    height: 6.3vh;
    border: 0;
    padding-left: 0.16rem;
    font-family: "Simhei";
    font-size: 0.26rem;
    color: #999;
}
/* 验证码 */
.verification{
    height: 6.3vh;
    line-height: 6.3vh;
    width: 7.04rem;
    border-bottom: 0.075vh solid #ddd;
    position: relative;
    background-color: #fff;
}
.img_left{
    width: 0.64rem;
    height: 6.3vh;
    line-height: 6.3vh;
    float: left;
}
.verification img{
    width: 0.3rem;
    height: 2.9vh;
    padding: 0  0.16rem;
    border-right: 0.01rem solid #999;
}
.verification input{
    float: left;
    width: 4rem;
    height: 6.3vh;
    border: 0;
    padding-left: 0.16rem;
    font-family: "Simhei";
    font-size: 0.26rem;
    color: #999;
}
.verification #button{
    padding: 0.16rem 0.13rem !important;
    color: #53c049;
    border: 0.01rem solid #53c049;
    font-family: "Simhei";
    font-size: 0.22rem;
    border-radius: 0.08rem;
    position: absolute;
    right: 0.2rem;
    bottom: 0.1rem;
    background-color: #fff;
}
/* 新密码 */
.new_password{
    height: 6.3vh;
    line-height: 6.3vh;
    width: 7.04rem;
    border-bottom: 0.075vh solid #ddd;
    position: relative;
    background-color: #fff;
}
.new_password .left_img{
    width: 0.64rem;
    height: 6.3vh;
    line-height: 6.3vh;
    float: left;
}
.new_password img{
    width: 0.3rem;
    height: 2.9vh;
    padding: 0  0.16rem;
    border-right: 0.01rem solid #999;
}
.new_password input{
    float: left;
    width: 4rem;
    height: 6.3vh;
    border: 0;
    padding-left: 0.16rem;
    font-family: "Simhei";
    font-size: 0.26rem;
    color: #999;
}
.right_img{
    float: right;
}
.right_img img{
    width: 0.35rem;
    height: 1vh;
    padding-right: 0.2rem;
    border: 0;
}
.none{
    display: none;
}

/* 确认密码 */
.confirm{
    height: 6.3vh;
    line-height: 6.3vh;
    width: 7.04rem;
    position: relative;
    background-color: #fff;
}
.confirm .left_img{
    width: 0.64rem;
    height: 6.3vh;
    line-height: 6.3vh;
    float: left;
}
.confirm img{
    width: 0.3rem;
    height: 2.9vh;
    padding: 0  0.16rem;
    border-right: 0.01rem solid #999;
}
.confirm input{
    float: left;
    width: 4rem;
    height: 6.3vh;
    border: 0;
    padding-left: 0.16rem;
    font-family: "Simhei";
    font-size: 0.26rem;
    color: #999;
}
.right_img{
    float: right;
}
.right_img img{
    width: 0.35rem;
    height: 1vh;
    padding-right: 0.2rem;
    border: 0;
}
/* 提交 */
.submit{
    width: 5.81rem;
    height: 6.5vh;
    line-height: 6.5vh;
    background-color: #57c340;
    color: #fff;
    font-family: "Simhei";
    font-size: 0.38rem;
    text-align: center;
    border-radius: 0.5rem;
    margin: auto;
    box-shadow: 0.01rem 0.01rem 0.3rem #57c340;
    margin-top: 11.7vh;
}
.right_img{
    float: right;
    padding-right: 0.2rem;
}
.right_img img:nth-child(1){
    width: 0.45rem;
    height: 1.5vh;
}
.right_img img:nth-child(2){
    width: 0.4rem;
    height: 0.9vh;
}
